.pointer{
	cursor: pointer;
}

#wpbody-content {
	display: none;
}

#fca_qc_submit_button {
	margin-right: 5px;
}
.fca_qc_quiz_image_upload_btn, .fca_qc_quiz_image_revert_btn {
	font-size: 1.5rem;
	margin-left: 7px !important;
}

.fca_qc_quiz_image_upload_btn{
	color: #40d47e;	
}
.fca_qc_quiz_image_revert_btn{
	color: red;
}	
	
#fca_qc_quiz_description {
	width: 98%;
}

.fca_qc_answer_toggle{
	color: #0073aa;
	text-decoration: underline;
}

.fca_qc_answer_toggle:hover{
	color: #00a0d2;
	text-decoration: underline;
}

.fca_qc_two_third_div {
	vertical-align: text-top;
	width: 65%;
	display: inline-block;
}

.fca_qc_one_third_div {
	vertical-align: text-top;
	width: 35%;
	display: inline-block;
}

.fca_qc_admin_label {
	font-weight: bold;
	text-align: left;
	display: block;
	margin-bottom: 5px;
}
.fca_qc_admin_settings_label {
	font-weight: normal;

}

#fca_qc_setting_table {
	width: 100%;
}
#fca_qc_setting_table th {
	width: 250px;
}
.fca_qc_question_label, .fca_qc_result_label {
	margin-top: 1rem;
	cursor: pointer;
}


.fca_qc_delete_icon {
	margin-top: 1rem;
	color: red;
	cursor: pointer;
	float: right;

}

.fca_qc_add_btn {
	color: #40d47e;
	font-size: 2rem;
	margin: 1rem 0;
}

.fca_qc_texta {
	width: 98%;
	min-height: 4rem;
}

.fca_qc_question_texta {
	width: 98%;
	min-height: 2rem;
	margin-bottom: 5px;
}

.fca_qc_text_input {
	width: 250px;
	margin-bottom: 5px;
}

.fca_qc_image {
	max-width: 100%;
	display: block;
	cursor: pointer;
}
img.fca_qc_image:hover + div.fca_qc_image_hover_controls {
	visibility: visible;
}

div.fca_qc_image_hover_controls:hover {
	visibility: visible;
}

div.fca_qc_image_hover_controls {
	visibility: hidden;
	position: relative;
	top: -35px;
}


.fca_qc_result_item, .fca_qc_question_item {
    border: 1px solid #ddd;
    padding: 1rem;
	margin-bottom: 1rem;
	cursor: move;
	background-color: #FFF;
}

/* ON OFF SWITCH */

.fca_qc_onoffswitch {
	display: inline-block;
    position: relative;
	width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.fca_qc_onoffswitch-checkbox {
    display: none;
}
.fca_qc_onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 26px; padding: 0; line-height: 26px;
    border: 2px solid #CCCCCC; border-radius: 26px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in-out;
}
.fca_qc_onoffswitch-label:before {
    content: "";
    display: block; width: 26px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #CCCCCC; border-radius: 26px;
    transition: all 0.3s ease-in-out 0s; 
}
.fca_qc_onoffswitch-checkbox:checked + .fca_qc_onoffswitch-label {
    background-color: #0085ba;
}
.fca_qc_onoffswitch-checkbox:checked + .fca_qc_onoffswitch-label, .fca_qc_onoffswitch-checkbox:checked + .fca_qc_onoffswitch-label:before {
   border-color: #0085ba;
}
.fca_qc_onoffswitch-checkbox:checked + .fca_qc_onoffswitch-label:before {
    right: 0px; 
}
