div.fca_qc_quiz {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 50px;
	text-align: center;
}

#fca_qc_quiz_title {
	font-size: 26px;
	margin:0;
	padding:0;
	
}

#fca_qc_quiz_description {
	
	font-size: 16px;
	margin: 20px 0;
}

#fca_qc_quiz_description_img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#fca_qc_question {
	font-size: 26px;
	margin-bottom: 20px;
}

svg.fca_qc_rectancle {
	margin: 15px;
}

span.fca_qc_answer_span {
	position: relative;
	top: -21px;
	font-size: 16px;
}

button.fca_qc_button {
	width: 200px;
	height: 50px;
	margin-top: 20px;
	padding: 13px 45px;
	border-radius: 2px;
	background-color: #58afa2;
	box-shadow: 0 2px 0 0 #3c7d73;

}

#fca_qc_next_question {
	background-color: inherit;
	color: black;
	width: 140px;
	border-radius: 2px;
	border: solid 2px #151515;	
	margin-top: 35px;
}

div.fca_qc_answer_div {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 56px;
	border-radius: 2px;
	background-color: #dbdbdb;
	color: black;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	cursor: pointer;
}

#fca_qc_your_answer, #fca_qc_correct_answer {
	font-weight: normal;
}

div.fca_qc_answer_div:hover {
	background-color: #8dc8bf;
}
#fca_qc_score_text{
	font-size: 14px;
	margin: 0 30px 0 0;
}
#fca_qc_score_text{
	font-size: 14px;
	margin: 30px 0 10px 0;
}
#fca_qc_score_title{
	font-size: 26px;
	margin: 0 0 20px 0;
}
#fca_qc_score_img{
	margin: 0 0 20px 0;
	max-width: 500px;
}
#fca_qc_score_desc{
	margin: 0 0 30px 0;
}


#fca_qc_quiz_footer {
	margin-top: 20px;
	font-size: 16px;
}

#fca_qc_result_text{
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 15px 0;
}

div.fca_eoi_question_response_item {
	margin: 0 0 15px 0;
}

h3.fca_eoi_question_response_question {
	font-size: 20px;
	font-weight: bold;
	margin:0 0 10px 0;
	padding-top: 15px;
}

p.fca_eoi_question_response_response {
	font-size: 16px;
	margin: 0 0 10px 0;
}
p.fca_eoi_question_response_correct_answer {
	font-size: 16px;
	margin: 0;
	padding-bottom: 15px;
}
.fca_qc_bold{
	font-weight: bold;
}

#fca_qc_question_count{
	font-size: 16px;
}

#fca_qc_question_right_or_wrong{
	font-size: 26px;
	margin: 30px 0;

}

#fca_qc_question_back {
	font-size: 20px;
	font-weight: bold;
}

p.fca_qc_back_response {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}


div.correct-answer {
	background-color: #abdc8c;
}
div.wrong-answer {
	background-color: #f57484;
}

/**** FLIP CARD CSS ****/

/* entire container, keeps perspective */
.flip-container {
	width: 100%;
	
	perspective: 1000;
	transform-style: preserve-3d;
}

.flip-container, .front, .back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/*  front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}


.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
